@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=cyrillic-ext');

color_brand_white = #FFF
color_brand_dk_gray = #373435
color_brand_dk_gray2 = #272424
color_brand_orange = #FFCC00
color_brand_red = #ED3237
color_brand_lt_orange = #FFF3E8

#app
header
article
.popup-button-wrapper
.buttons-wrapper
	display flex
	width 100%

body
	margin 0
	width 100vw
	height 100vh
	background-color color_brand_orange

#app
	flex-direction column
	justify-content space-between
	align-items center
	height @width
	min-height min-content
	margin 0 auto
	text-align center
	overflow-x hidden
	font-family 'Roboto', sans-serif
	color color_brand_dk_gray
	visibility visible
	opacity 1
	transition .5s opacity
	&.loading
		visibility hidden
		opacity 0

header
	justify-content center
	align-items center
	padding 0.5em 0
	color color_brand_lt_orange
	img
		opacity 1
		width 5em
		height @width

article
	flex-direction column
	p
		margin 0.75em 0
		font-size 1.75em
		padding 0 1em
		strong
			text-transform uppercase
			font-weight 700
			color color_brand_red

.buttons-wrapper
	flex-direction row
	align-items center
	justify-content center
	width 100%
	a
		display block
		width 13em
		&:nth-of-type(2)
			padding 16px 0
		img
			&#playstore
				width 100%
			&#appstore
				width 87%


@media screen and (max-width: 1280px)
	body
		font-size 21px

@media screen and (max-width: 1024px)
	body
		font-size 18px

@media screen and (max-width: 768px)
	body
		font-size 14px
	header
		img
			width 8em
			height @width
	article
		p
			font-size 2em

@media screen and (max-width: 480px)
	body
		font-size 11px
	.buttons-wrapper
		flex-direction column
		align-items center
		justify-content space-around

@media screen and (min-height: 480px)
	header
		padding 1em 0
		img
			width 7em
			height @width
	.buttons-wrapper
		margin-bottom 1em
